
@font-face
{
	font-family: 'Trebuchet-Ms' ; 
	src: url('Trebuchet_Ms.ttf');
}


 body
{
	font-family: "Trebuchet-MS" !important;
	min-height: 100% ;
	min-width: 100% ;
	width: 100%;
	padding-top: 55px;
	
	color: #596669 !important ;
}

textarea {
    max-width: 100%; 
    max-height: 100%;
	resize: none ;
}

/*navigation bar style*/

.smart-navbar
{
    box-sizing: initial !important;
    display: block;
	background-color: #FDFDFD ;
	padding: 0px ;
}

.nav-logo-container
{
	padding: 0px !important; 
}

.logo
{
       min-height: 50px ;
       height: 100% ;

}


.navbar-right
{
	margin-right: 0px !important;
}


.icon-bar
{
	background-color: #aa2700;
}

.menu
{
	margin: 0;
	display: block ;
	align-items: stretch; 
	padding: 0px;
	padding-right: 0px;
}


.menu-item
{
	margin: 0 ;
	height: 55px;
	padding: 20px;
	text-align: center;

	font-size: 16px !important;
	color: black;
}	
.menu-subitem
{
	margin: 0 ;
	padding: 20px;
	text-align: center;
	font-size: 16px !important;
	color: black;
	width: 100% ;
}	



.dropdown::hover .dropdown-menu
{
	display: block !important ; 
}

.menu-item:hover
{
	color: #aa2700;
	background-color: grey;
	border-bottom-color: red ;
	border-bottom: solid;
}

@media (min-width: 750px) 
{
	ul.nav li.dropdown:hover > ul.dropdown-menu {
    	display: block;    
	}
}
/* end of navigation bar style*/


/*start: page sections*/
.page-section 
{

	padding-top: 70px;
	padding-bottom: 70px;
	width: 100% ;
}

.page-section-dark 
{
	background-color: #f2f2f2	 ;
	padding-top: 70px ; 
	padding-bottom: 70px;
}
.page-section-dark *
{
	background-color: #f2f2f2 ;
}
.page-section-white 
{
	background-color: white	 ;
	padding-top: 70px ; 
	padding-bottom: 70px;
}
.page-section-white *
{
	background-color: white ;
}
.page-small-section-white 
{
	background-color: white	 ;
	
}
.page-small-section-white *
{
	background-color: white ;
}



.page-section-red-home 
{
	background-color: #D93A34 ;
	padding-top: 70px ; 
	padding-bottom: 70px;
}
.page-section-red-home *
{
	background-color: #D93A34 ;
	color: white ; 	
}
.page-section-red 
{
	background-color: #D93A34 ;
	padding-top: 15px ; 
	padding-bottom: 15px;
}
.page-section-red *
{
	background-color: #D93A34 ;
	color: white ; 	
}


.page-section-light 
{
	background-color: white !important;
	padding-top: 25px ; 
	padding-bottom: 25px;
}



.section-header
{
	padding-bottom: 25px;
	
}

/*start: page sections*/

/*start: banner style*/

.carousel
{
	padding: 0px ;
	height: 85% ;
	max-height: 600px ;
	padding: 10px;
	overflow: hidden;
}

.carousel-image
{
	overflow: hidden; 
	color: white;
	background-repeat: no-repeat;
}

.carousel-inner
{
	overflow: hidden;
}

.fill 
{
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.bottom-div
{
	position: absolute;
    bottom: 0;
    left: 0;
}

.banner-text
{
	background-color: rgb(29%, 29%, 29%);
	opacity: .899;
	color: white ;

}

/*end: banner style*/


/*start: What we do secton*/

.what-we-do
{
	display: flex ; 
	flex-wrap: wrap ;
	
}

.what-we-do h3
{
	margin-top: 0px ;
	
}

.what-we-do-item
{
	margin: 10px ; 
	padding-top: 25px ;
	padding-bottom: 25px;
}
.what-we-do-icon
{
	padding: 0px !important; 

}



/*end: what we do section */


.page-top-image
{
	max-height: 150px;	
	overflow: hidden; 
	color: white;
	background-repeat: no-repeat;
}

.page-top-text
{
	position: relative;
  top: 100%;
  transform: translateY(-100%);
  display: block ;
}

.page-top-image *
{
	background-color: transparent !important;
}



/*start: text-design style*/
.keywords
{
	color: #aa2700;
}
.keywords-underline
{
	border-bottom-color: #aa2700  !important;
	border-bottom: solid;	
}

.info-box /* increase font size of text */ 
{
	font-size: 16px;
}
/*end: text-design style*/

/*start  containers*/

.center-children /*place child tags at thte center*/
{
	display: table;
    vertical-align: middle;
    margin-right: auto;
	margin-left: auto;
}


.center-children  * /*place child tags at thte center*/
{
	display: table;
    vertical-align: middle;
    margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.flex-box
{
	display: flex ;
	flex-wrap: wrap ;
}

.border-box
{
	border: 2px ;
	border-style: solid ; 
	border-color: #818181 ;
	margin: 0px ;
	padding: 5px ;
}

.rounded-corner-box
{
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
}

.section-xxs
{
	padding-top: 10px ;
	padding-bottom: 10px ;
}
.section-xs
{
	padding-top: 25px ;
	padding-bottom: 25px ;
}
.section-sm
{
	padding-top: 50px ;
	padding-bottom: 50px ;
}
.section-md
{
	padding-top: 75px ;
	padding-bottom: 75px ;
}
.section-lg
{
	padding-top: 100px ;
	padding-bottom: 100px ;
}

.padding-box-xs
{
	padding: 25px;
}
.padding-box-sm
{
	padding: 50px;
}
.padding-box-md
{
	padding: 75px;
}
.padding-box-lg
{
	padding: 100px;
}

/*end: containers*/

/*start: smart cards section*/
.card-container
{
	padding: 10px;
	padding-bottom: 5px;
	font-size: 14px;
	min-height: 150px; 

	margin-bottom: 0px;
	 
}

.card-title
{
	margin-top: 0px ;
}
.card-stamp
{
	max-height: 20px !important ;
	margin-bottom: 0px;	 
}

/*end: smart cards section*/


/*start: client and ecosystem section*/
.circle
{
	background: transparent;
	border-style: solid;
	border-width: 5px;
	border-color: #596669 ;
  	border-radius: 75px;
  	color: white;
  	height: 75px;
  	font-weight: bold;
  	width: 75px;
}

.image-div
{
	position: relative ;
	min-height: 250px ;
	height: 55%; 
	overflow: hidden;
	color: white;
	background-repeat: no-repeat;
	background-size:100%;
	
}

.image-caption
{
	position: absolute ;
	top: 0;
	right: 0 ;
	color: black ;
	max-width: 60% ;
	padding: 10px ;
}

.slogan-div
{
	background-repeat: repeat;
}


@media (max-width: 992px) 
{
	.image-div
	{
		height: 35% ;
		min-height: 150px !important;
	}
}


@media (max-width: 668px) 
{
	.image-div
	{
		height: 35% ;
		min-height: 100px !important;
	}
}




.count
{
		font-size: 18px ;
}


.client-logo-container
{
	display: flex ;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.client-logo 
{

	position : relative;
  	top : 50% ;
  	transform : perspective(1px) translateY(-50%);
}
.client-image
{
	max-height: 150px ; 
	max-width: 150px ;
	
	padding: 25px ;
}

/*end: clients and ecosystem*/

/*start: footer section*/
.smart-footer
{
	padding-top: 25px ;
	padding-bottom: 15px ;
	background-color: #2c2c2d ;
	color: white;
}
.footer-link
{
	color: #D93A34 ;
}
/*end: footer section*/

/*start: service sections*/
.service-flex-box
{
	display: flex ;
	flex-wrap: wrap ; 
	align-items: stretch ;

}
.service-card
{
	
	padding: 20px;	
	flex: 1;
}

.service-card-container
{
	padding: 10px ;
	
}

.service
{
	background-color: #d93a33 ;
	height: 100% ;
}
.service-alt
{
	height: 100% ;
	background-color: white;
}
/*end: service section*/

.img-flag
{
	max-width: 150px ;
	max-height: 150px ; 
}


/*portfolio section*/

#portfoliocontainer
{
	margin: 20px;
	width: 200px;
	height: 200px;
	position: relative;
}

.portfolio-circle
{
	min-height: 150;
	min-width: 	150px ;
	position: relative ; 
	padding: 10px ;
	background-color: white ;
	color: #1f282d; 
}


.portfolio-circle span
{
	background-color: transparent ;
	font-size: 24px ;
	font-weight: 600;
	text-align: center ;
}
.portfolio-circle span.number
{
	background-color: transparent ;
	font-size: 48px ;
	font-weight: 600;
	text-align: center ;

}
.portfolio-circle span.number
{
	background-color: transparent ;
	font-size: 36px ;
	font-weight: 600;
	text-align: center ;

}

.portfolio-circle *
{
	color: #1f282d ;
}


@media (max-width: 668px) 
{
	.circle
	{
		background: transparent;
		border-style: solid;
		border-width: 5px;
		border-color: #596669 ;
		border-radius: 95px;
		color: white;
		height: 95px;
		max-height: 95px;
		font-weight: bold;
		width: 95px;
		max-width: 95px;
	}
	.portfolio-circle
	{
		min-height: 95px;
		min-width: 	95px ;
		position: relative ; 
		padding: 10px ;
		background-color: white ;
		color: #1f282d; 
	}
	.portfolio-circle span
	{
		background-color: transparent ;
		font-size: 12px ;
		font-weight: 600;
		text-align: center ;
	}
	.portfolio-circle span.number
	{
		background-color: transparent ;
		font-size: 24px ;
		font-weight: 600;
		text-align: center ;

	}
	

	.portfolio-circle *
	{
		color: #1f282d ;
	}
}
/*end: portfolio section*/

/*start: contact us section*/
.contact-icon
{
	max-height: 30px ; 
	max-width: 30px ; 
}

.img-flag
{
	max-height: 55px ; 
	max-width: 85px; 
}

/*end: contact us section*/


.errors
{	
	color: red ; 
}


/* sidebar styles*/

.sidenav 
{
    height: 100%;  
    position: fixed;
    z-index: 1;
    top: 0;	
    left: 0;
    background-color: #d93a33;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}


.sidenav a 
{
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s
}


.sidenav a:hover, .offcanvas a:focus
{
    color: #f1f1f1;
}


.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar-main-content
{
	max-height: 100% ;
	
}

/*end: sidebar style*/
.admin-form
{
	height: inherit;
}

.content-area
{
	height: auto;
}

.news-item
{
	padding-top: 25px ;
	padding-bottom: 10px ; 
	padding-left:  5px; 
	padding-right:  5px;

}
.news-item *
{
	background-color: white ; 
	color: #596669 ;
	
}
.news-card-content
{
	padding: 10px;
}
.news-title
{
	margin: 0px ; 
}

.news-content
{
	display: none ; 
}

.news-image
{
	max-width: 250;
	max-height: 150 ;
}
.news-container
{
	min-height: 25%;
	max-height: 35%;
}


.news-container .border-box:nth-child(even)
{
  background: transparent;
}
.news-container .border-box:nth-child(odd)
{
  background: transparent;
}

.news-search-form , .news-search-form * 
{
	padding: 10px ; 
	background: white ; 
	color: #596669 ;
}

/* The Close Button */
.close 
{
    color: #aaaaaa;
    float: right;
    font-size: 36px;
    font-weight: bold;

}

.close:hover,
.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.content-row
{
	min-width: 50px ;
    max-width:350px;
    max-height:20px;
    
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.form-control
{
	font-size: 16px !important ;
}



.easy-circle
{
	background: transparent !important;
	border-style: solid;
	border-width: 3px;
	border-color: #596669 ;
  	border-radius: 120px;
  	color: white;
  	height: 120px;
  	font-weight: bold;
  	width: 120px;
}

.easy-circle-top-tag
{
    background-color: transparent !important;
	color: black ; 
    width: 110px;
    height: 55px;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	margin-top: 2px;
	margin-right: 2px;
	margin-left: 2px;	
}


.easy-circle-bottom-tag
{
    background-color: #D93A34 !important;
	color: white ; 
    width: 110px;
    height: 55px;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	margin-bottom: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

.easy-circle-bottom-tag  *
{
	background: transparent !important ;
}
.easy-circle-top-tag  *
{
	background: transparent !important ;
}
.easy-circle-top-tag h4
{	
	padding-top : 10px ;
}

@media (max-width: 668px) 
{
	.easy-circle
	{
		background: transparent;
		border-style: solid;
		border-width: 3px;
		border-color: #596669 ;
		border-radius: 80px;
		color: white;
		height: 80px;
		font-weight: bold;
		width: 80px;
	}

	.easy-circle-top-tag
	{
		background-color: transparent;
		color: black ; 
		width: 95px;
		height: 44px;
		border-radius: 50% / 100%;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-top: 2px;
		margin-right: 2px;
		margin-left: 2px;	
	}


	.easy-circle-bottom-tag
	{
		background-color: #D93A34;
		color: white ; 
		width: 95px;
		height: 44px;
		border-radius: 50% / 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-bottom: 2px;
		margin-right: 2px;
		margin-left: 2px;
	}
}



.faq-div
{
	margin-top: 10px ;
	margin-bottom: 20px ;
}

.faq-question
{
	color: #aa2700 ;
}


.admin-homepage-image
{
	height: 200px !important;
	width: 300px  !important; 
}




.howsmartworks-div
{
	overflow: scroll;
	max-height: inherit;
	height: inherit;
}

.img-howsmartworks
{
	position: fixed ;
	top: 60px ;
}

.admin-content
{
	height: 100% !important ;
}

.admin-content *
{
	max-height: inherit ;
}

/* Let's get this party started */ 
::-webkit-scrollbar 
{
	 width: 12px; 
}





.body { padding:0; margin:0; background:#fff; }
.content {
	padding:10px 20px 10px 400px;
	border-bottom:1px solid #666;
	background-color: trasnsparent;
	background-repeat: no-repeat;
	background-position: 20px 20px;
	background-attachment: fixed;
}
.green {
	background-image: url(/smart/assets/img/how_smart_works/sick.JPG);
}
.yellow {
	background-image: url(/smart/assets/img/how_smart_works/auth.JPG);
}
.red {
	background-image: url(/smart/assets/img/how_smart_works/card.JPG);
}
.purple {
	background-image: url(/smart/assets/img/how_smart_works/clinic.JPG);
}
.blue {
	background-image: url(/smart/assets/img/how_smart_works/print.JPG);
}
.content p {
	font:normal 12px/18px verdana;
	color:#000;
}

.story
{
	min-height: 250px ; 
}

.background-teal
{
	background-color: #2BBBAD !important; 
	color : white !important; 
}